.latestWork {
  display: flex;
  flex-direction: row;
  gap: 0 1rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .latestWork {
    flex-direction: column;
  }
}

.blockDescription,
.blockVideo {
  flex: 1;
}

.description {
  margin-bottom: 2rem;
  word-spacing: 5px;
  font: 500 1.6rem / 2.5rem 'Roboto', monospace;
  text-align: justify;
}

.titleList {
  margin: 0;
}

li {
  margin-left: 2rem;
  list-style: initial;
}

.blockVideo {
  position: relative;
  z-index: 1000;
  transform-origin: right center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoomed {
  transform-origin: right center;
  transform: scale(2);
}

.video {
  width: 100%;
}

@media (max-width: 768px) {
  .video {
    pointer-events: none;
  }
}

