.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
}

.titleWrap {
  text-align: center;
  margin-bottom: 2rem;
}

.contactTitle {
  position: relative;
  display: inline-block;
  margin-bottom: 4rem;
  font: 600 6rem/7rem 'Poppins', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .contactTitle {
    font-size: 6vw;
  }
}

@media (max-width: 768px) {
  .contactTitle {
    font-size: 8vw;
  }
}

@media (max-width: 576px) {
  .contactTitle {
    font-size: 10vw;
  }
}

.contactTitle::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 0.3rem;
  background: #fff;
}

.ctaTextBlock {
  text-align: center;
}

.ctaText {
  font: 500 1.6rem/2rem 'Poppins', sans-serif;
  color: #04c2c9;
}

.formBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem 0;
  margin-top: 4rem;
  width: 100%;
  max-width: 60rem;
}

input, textarea {
  width: 100%;
  padding: 1rem;
  font: 500 1.6rem/2rem 'Poppins', sans-serif;
  color: #fff;
  background: rgba(26, 25, 29, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.btnWuap {
  display: flex;
  justify-content: end;
  width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font: 300 1.6rem / 2rem 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #b1b1b1;
  background: transparent;
  border: 2px solid #b1b1b1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: #161B20;
  background: #b1b1b1;
}

.button:active {
  color: #b1b1b1;
  background: transparent;
}

.alert {
  position: absolute;
  bottom: 1rem;
  left: 5rem;
  font: 500 1.6rem/2rem 'Poppins', sans-serif;
}