.pageLink {
  position: relative;
}

.scrollDown {
  position: absolute;
  z-index: 1; /* Чтобы элемент был поверх других */
  bottom: 2rem;
  left: 50%;
  display: inline-block; /* Обеспечивает нормальную область для наведения */
  width: 6rem;
  /* padding: 1rem; */
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  animation: fadeIn 2s ease-in-out;
  transform: translateX(-50%);
}

.scrollDown svg {
  display: block;
  margin: 0 auto 8px;
}

.scrollDown:hover svg {
  filter: drop-shadow(0 4px 6px rgba(255, 255, 255, 0.87)); 
}

.scrollText {
  display: block;
  color: #fff;
  animation: bounce 2s infinite;
}

.scrollDown:hover .scrollText {
  text-shadow: 0 0 15px rgb(255, 255, 255);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(5px); }
}