.footer {
  padding: 5rem 0;
  background: #1A191D;
}

.contactsMethodsBlock {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;
}

.copyrightBlock {
  text-align: center;
}

.copyrightBlock p {
  font: 300 1.3rem/2rem 'Poppins', sans-serif;
  color: #8f9aa7;
}

.copyrightBlock span {
  color: #04c2c9;
}