html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #161B20;
  color: #fff;
}

.app {
  
}

.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1044px;
  margin: 0 auto;
}

.language {
  position: fixed;
  top: 2rem;
  z-index: 2000;
  align-self: flex-end;
  margin-right: 2rem;
  padding: 0.5rem;
  font: 400 1.6rem/2rem 'Poppins', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.language:hover {
  transform: scale(1.1);
}

.language:active {
  transform: scale(1);
}

.header {
  height: 100vh;
}

main {
  max-width: 1044px;
  margin: 0 auto;
}