html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #161B20;
  color: #fff;
}

.header {
  height: 100vh;
}

main {
  max-width: 1044px;
  margin: 0 auto;
}